/*Thuộc tính nội dung Thiết bị*/
.table-container {
    padding-top: 20%; /* Để tạo khoảng cách giữa bảng và phần nền */
    padding-left: 30%;
    width: 1200px;
}
.device-table {
    width: 100%;
    border-collapse: collapse; /* Để loại bỏ khoảng cách giữa ô */
    border: 1px solid #000;
}
.device-table th, .device-table td{
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 10px; /* Khoảng cách giữa nội dung và biên của ô */
    border: 1px solid #000; /* Đường viền cho ô */
}
.anh{
    width: 8rem;
    height: 7.5rem;
}
