/*Thuộc tính nội dung Thiết bị*/
.table-container {
    padding-top: 20%; /* Để tạo khoảng cách giữa bảng và phần nền */
    padding-left: 30%;
    width: 1200px;
}
.device-table {
    width: 100%;
    border-collapse: collapse; /* Để loại bỏ khoảng cách giữa ô */
    border: 1px solid #000;
}
.device-table th, .device-table td{
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 10px; /* Khoảng cách giữa nội dung và biên của ô */
    border: 1px solid #000; /* Đường viền cho ô */
}
.anh{
    width: 8rem;
    height: 7.5rem;
}
#addDeviceForm {
    display: none; /* Ẩn form theo mặc định */
    margin: 20px 0;
}
#addDeviceForm label {
    display: block;
    margin: 5px 0;
}
#addDeviceForm input {
    margin: 5px 0;
}
#addDevice {
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #00BF63;
    width: 7rem;
    border-radius: 5px;
    padding: 0.3rem;
    position: absolute;
    left: 69rem;
    top: 71rem;
}