.title-control {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
}

.form-row {
    display: contents; /* Sử dụng display: contents để các phần tử con nằm trực tiếp trong grid container */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); /* Giảm chiều rộng để tránh tràn ra ngoài */
}

.save, .cancel, .edit, .go-back, .delete{
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.save:hover, .cancel:hover,
.edit:hover, .go-back:hover,
.delete:hover {
    background-color: #ddd;
}

/* Đảm bảo các nút nằm trong một hàng */
.form-row:last-child {
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
}
