/*Thuộc tính phân tích*/
.dateRange {
    width: 180px;
    font-size: 1.2rem;
    position: absolute;
    top: 350%;
    left: 700%;
}
#dateRange {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    font-size: 1rem;
    border: solid 1px;
    position: absolute;
    top: 350%;
    left: 900%;
}
.data-chart {
    width: 620px;
}
#NhietDo, #DoAmDat {
    position: absolute;
    top: -10%;
}
#DoAmDat {
    left: 630%;
}
#DoAmKK {
    position: absolute;
    top: 295%;
}

